/* General body and container styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

/* Styling for each restaurant */
.restaurant {
    background: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.restaurant img {
    width: 100%;
    max-width: 200px;
    border-radius: 4px;
}

.restaurant h2 {
    color: #333;
}

.restaurant p {
    font-size: 16px;
    color: #666;
}

/* List of dishes */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li:last-child {
    border-bottom: none;
}

ul li img {
    max-width: 100px;
    margin-left: 10px;
    border-radius: 4px;
}

/* Form styling */
form {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: auto;
    }

    ul li {
        flex-direction: column;
        align-items: flex-start;
    }

    ul li img {
        margin: 10px 0;
    }
}


.course-invitation {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.course-invitation h2 {
    margin-bottom: 20px;
}

.course-invitation button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.course-invitation button:hover {
    background-color: #0056b3;
}

.logout button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}


